<section class="contact-container">
  <div class="contact-content">
    <h2 class="section-title">Contacto</h2>

    <p>
      ¿Quieres saber más o conectar profesionalmente? Puedes escribirme
      directamente:
    </p>

    <div class="contact-info">
      <a href="mailto:sergiobg.isc@gmail.com" target="_blank">
        <img src="/icons/gmail.svg" alt="Email" />
        sergiobg.isc&#64;gmail.com
      </a>
      <a href="https://www.linkedin.com/in/sergio-barreras/" target="_blank">
        <img src="/icons/linkedin.svg" alt="LinkedIn" />
        LinkedIn
      </a>
      <a href="https://github.com/SergioBGISC99" target="_blank">
        <img src="/icons/github_light.svg" alt="GitHub" />
        GitHub
      </a>
    </div>
  </div>
</section>
