<section class="px-8 py-12">
  <div class="max-w-lg mx-auto text-left bg-gray-100 p-6 rounded-xl">
    <p class="text-lg text-center mb-4 text-gray-500 font-bold">
      ¿Quieres saber más o conectar profesionalmente? Puedes escribirme
      directamente usando este formulario:
    </p>

    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="space-y-4">
      <div>
        <label class="block text-sm font-bold mb-1">Nombre</label>
        <input
          type="text"
          formControlName="name"
          required
          class="w-full px-4 py-2 border rounded"
        />
      </div>

      <div>
        <label class="block text-sm font-bold mb-1">Correo</label>
        <input
          type="email"
          formControlName="email"
          required
          class="w-full px-4 py-2 border rounded"
        />
      </div>

      <div>
        <label class="block text-sm font-bold mb-1">Mensaje</label>
        <textarea
          formControlName="message"
          rows="4"
          required
          class="w-full px-4 py-2 border rounded"
        ></textarea>
      </div>

      <button
        type="submit"
        [disabled]="form.invalid"
        class="w-full bg-amber-300 text-black font-bold py-2 rounded hover:bg-amber-400"
      >
        Enviar mensaje
      </button>

      <p *ngIf="enviado" class="text-sm text-center mt-4 text-emerald-600">
        ¡Gracias! Tu mensaje ha sido enviado.
      </p>
    </form>
  </div>
</section>
