<section class="tech-container">
  <div class="tech-content">
    <h2 class="section-title">Tecnologías</h2>

    <div class="tech-group">
      <h3>Frontend Web</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/angular.svg" alt="Angular" />
          <span>Angular</span>
        </div>

        <div class="tech-item">
          <img src="/icons/vite.svg" alt="Vite" />
          <span>Vite</span>
        </div>

        <div class="tech-item">
          <img src="/icons/vue.svg" alt="Vue" />
          <span>Vue</span>
        </div>

        <div class="tech-item">
          <img src="/icons/tailwindcss.svg" alt="Tailwind" />
          <span>TailwindCSS</span>
        </div>
      </div>
    </div>

    <div class="tech-group">
      <h3>Frontend Mobile</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/flutter.svg" alt="Flutter" />
          <span>Flutter</span>
        </div>
      </div>
    </div>

    <div class="tech-group">
      <h3>Backend</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/node.svg" alt="Node" /><span>Node.js</span>
        </div>
        <div class="tech-item">
          <img src="/icons/nestjs.svg" alt="Nest" /><span>NestJS</span>
        </div>
        <div class="tech-item">
          <img src="/icons/expressjs.svg" alt="Express" /><span
            >Express.js</span
          >
        </div>
        <div class="tech-item">
          <img src="/icons/dotnet.svg" alt="ASP" /><span>ASP.NET Web API</span>
        </div>
      </div>
    </div>

    <div class="tech-group">
      <h3>Base de Datos</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/postgresql.svg" alt="PostgreSQL" />
          <span>PostgreSQL</span>
        </div>
        <div class="tech-item">
          <img src="/icons/sql-server.svg" alt="SQL Server" />
          <span>Microsoft SQL Server</span>
        </div>
        <div class="tech-item">
          <img src="/icons/mongodb.svg" alt="Mongo" />
          <span>MongoDB</span>
        </div>
        <div class="tech-item">
          <img src="/icons/sqlite.svg" alt="SQLite" />
          <span>SQLite</span>
        </div>
      </div>
    </div>

    <div class="tech-group">
      <h3>State Management</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/tanstack.svg" /><span>TanStack Query</span>
        </div>
        <div class="tech-item">
          <img src="/icons/pinia.svg" /><span>Pinia</span>
        </div>
        <div class="tech-item">
          <img src="/icons/riverpod.svg" /><span>Riverpod</span>
        </div>
        <div class="tech-item">
          <img src="/icons/bloc.svg" /><span>Bloc</span>
        </div>
        <div class="tech-item">
          <img src="/icons/getx.svg" /><span>GetX</span>
        </div>
        <div class="tech-item">
          <img src="/icons/flutter.svg" /><span>Provider</span>
        </div>
      </div>
    </div>

    <div class="tech-group">
      <h3>Lenguajes</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/typescript.svg" /> <span>TypeScript</span>
        </div>
        <div class="tech-item">
          <img src="/icons/javascript.svg" /> <span>JavaScript</span>
        </div>
        <div class="tech-item">
          <img src="/icons/dart.svg" /> <span>Dart</span>
        </div>
        <div class="tech-item">
          <img src="/icons/csharp.svg" /> <span>C#</span>
        </div>
        <div class="tech-item">
          <img src="/icons/java.svg" /> <span>Java</span>
        </div>
        <div class="tech-item">
          <img src="/icons/html5.svg" /> <span>HTML</span>
        </div>
        <div class="tech-item">
          <img src="/icons/css.svg" /> <span>CSS</span>
        </div>
      </div>
    </div>

    <div class="tech-group">
      <h3>Herramientas y Otros</h3>
      <div class="tech-list">
        <div class="tech-item">
          <img src="/icons/git.svg" /><span>Git</span>
        </div>
        <div class="tech-item">
          <img src="/icons/github_light.svg" /><span>GitHub</span>
        </div>
        <div class="tech-item">
          <img src="/icons/prisma.svg" /><span>Prisma</span>
        </div>
        <div class="tech-item">
          <img src="/icons/mongoose.svg" /><span>Mongoose</span>
        </div>
        <div class="tech-item">
          <img src="/icons/dotnet.svg" /><span>Entity Framework</span>
        </div>
        <div class="tech-item">
          <img src="/icons/docker.svg" /><span>Docker</span>
        </div>
        <div class="tech-item">
          <img src="/icons/graphql.svg" /><span>GraphQL</span>
        </div>
        <div class="tech-item">
          <img src="/icons/dotnet.svg" /><span>LINQ</span>
        </div>
        <div class="tech-item">
          <img src="/icons/openai.svg" /><span>OpenAI API</span>
        </div>
      </div>
    </div>
  </div>
</section>
