<section class="px-8 py-12">
  <div class="custom-max-w mx-auto text-left">
    <h2 class="text-3xl font-bold text-emerald-600 mb-6">Experiencia</h2>

    <div class="mt-8">
      <h3 class="text-2xl text-gray-400 font-semibold mb-3">
        Developer – Taruks Soluciones, S.A. de C.V.
      </h3>
      <p class="text-lg text-gray-500 font-semibold mb-3">
        Ciudad Obregón · Dic 2022 – Ago 2024
      </p>

      <ul class="list-disc p-0">
        <li class="mb-2 text-base text-emerald-600">
          <p class="text-base text-black">
            Desarrollo y mantenimiento de aplicaciones de escritorio con WPF
            (C#).
          </p>
        </li>
        <li class="mb-2 text-base text-emerald-600">
          <p class="text-base text-black">
            Mantenimiento de aplicaciones web con Angular.
          </p>
        </li>
        <li class="mb-2 text-base text-emerald-600">
          <p class="text-base text-black">
            Desarrollo de aplicaciones móviles en Flutter utilizando Riverpod.
          </p>
        </li>
        <li class="mb-2 text-base text-emerald-600">
          <p class="text-base text-black">
            Gestión de bases de datos con Microsoft SQL Server.
          </p>
        </li>
        <li class="mb-2 text-base text-emerald-600">
          <p class="text-base text-black">
            Aplicación de principios SOLID y Clean Architecture en proyectos
            reales.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
