<section class="px-8 py-12">
  <div class="custom-max-w mx-auto text-left">
    <h2 class="text-3xl font-bold text-emerald-600 mb-6">Sobre mí</h2>

    <p class="text-lg leading-7 mb-4 text-black">
      Soy desarrollador de software con más de 2 años de experiencia en el
      desarrollo de aplicaciones web, móviles y de escritorio. Me especializo en
      tecnologías como Angular, NestJS, Flutter y .NET, y he trabajando en
      proyectos reales en entornos empresariales.
    </p>

    <p class="text-lg leading-7 mb-4 text-black">
      Durante mi paso por <strong>Taruks Soluciones</strong>, participé en el
      mantenimiento y desarrollo de aplicaciones Angular y Flutter, así como en
      soluciones de escritorio con WPF y gestión de bases de datos en SQL
      Server.
    </p>

    <p class="text-lg leading-7 mb-4 text-black">
      Aplico principios como <strong>SOLID</strong> y
      <strong>Clean Architecture</strong> en mis proyectos para asegurar
      escalabilidad, mantenimiento y buenas prácticas. Me entusiasma seguir
      creciendo como profesional y aportar soluciones con impacto real.
    </p>

    <div class="mt-8">
      <h3 class="text-2xl text-emerald-600 font-semibold mb-3">
        Habilidades blandas
      </h3>
      <ul class="list-none p-0">
        <li class="mb-2 text-base text-black">
          🗣 Comunicación efectiva en equipos multidisciplinarios
        </li>
        <li class="mb-2 text-base text-black">
          🤝 Trabajo colaborativo y orientación a resultados
        </li>
        <li class="mb-2 text-base text-black">
          ⚡ Adaptabilidad a nuevas tecnologías y procesos
        </li>
      </ul>
    </div>
  </div>
</section>
