.sidenav-container {
  height: 100vh;
}

.mat-sidenav {
  width: 250px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
}

.brand {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  gap: 8px;

  @media (max-width: 768px) {
    display: none;
  }
}

.menu-button {
  display: none;

  @media (max-width: 768px) {
    display: inline-flex;
  }
}
