<div class="md:h-screen w-full h-full flex flex-col">
  <!-- Sidebar móvil -->
  @if(showMenu) {
  <div class="fixed inset-0 z-40" (click)="closeMenu()"></div>
  }
  <aside
    class="fixed top-0 left-0 w-64 h-full bg-gradient-to-br from-emerald-400 to-gray-950 rounded-tr-2xl rounded-br-2xl shadow-md z-50 transform transition-transform duration-300"
    [class.-translate-x-full]="!showMenu"
  >
    <nav class="flex flex-col p-4 space-y-2">
      @for(route of routes; track $index) {
      <a
        class="font-bold px-4 py-2 rounded-2xl hover:bg-emerald-600 text-white transition duration-300"
        [routerLink]="route.routerLink"
        routerLinkActive="custom-sidenav-a"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
        >{{ route.routeTitle }}</a
      >
      }
    </nav>
  </aside>

  <!-- Navbar -->
  <header
    class="sticky top-0 z-40 bg-gradient-to-r from-emerald-400 to-gray-950 flex items-center px-4 py-4 shadow-md rounded-bl-2xl rounded-br-2xl"
  >
    <button
      class="md:hidden inline-flex items-center justify-center p-2 text-black hover:text-white transition duration-300"
      (click)="toggleMenu()"
      aria-label="Menu"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <span class="font-bold text-2xl ml-2">Sergio Barreras</span>

    <div class="flex-1"></div>

    <nav class="hidden md:flex space-x-4">
      @for(route of routes; track $index) {
      <a
        class="font-bold px-4 py-2 rounded-2xl hover:bg-emerald-600 text-white transition duration-300 select-none"
        [routerLink]="route.routerLink"
        routerLinkActive="custom-sidenav-a"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ route.routeTitle }}</a
      >
      }
    </nav>
  </header>

  <!-- Contenido principal -->
  <main class="p-4 flex-1" [@routeAnimations]="getAnimationState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>
