<section class="flex justify-center items-end p-8 text-center">
  <div class="max-w-[800px]">
    <img
      src="/images/1693657857102.jpg"
      alt="Sergio Barreras"
      class="w-96 h-96 object-cover rounded-full border-4 border-emerald-400 mb-6 mx-auto"
    />

    <h2 class="text-3xl font-bold text-white mb-6 select-none">
      Fullstack & Mobile Developer
    </h2>

    <p
      class="text-lg font-normal bg-gray-200 text-gray-800 mb-6 p-5 rounded-2xl select-none"
    >
      Desarrollador con experiencia en frontend, backend y mobile. Apasionado
      por construir soluciones escalables con Angular, NestJS y Flutter,
      aplicando buenas prácticas como SOLID y arquitectura limpia.
    </p>

    <div class="flex flex-wrap justify-center gap-4">
      <a href="/assets/Sergio-Barreras-CV.pdf" target="_blank" class="home-a">
        Descargar CV
      </a>
      <a href="https://github.com/SergioBGISC99" target="_blank" class="home-a">
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/sergio-barreras/"
        target="_blank"
        class="home-a"
      >
        LinkedIn
      </a>
    </div>
  </div>
</section>

<!-- <section class="home-container">
  <div class="home-content">


    <p class="description">
      Desarrollador con experiencia en frontend, backend y mobile. Apasionado
      por construir soluciones escalables con Angular, NestJS y Flutter,
      aplicando buenas prácticas como SOLID y arquitectura limpia.
    </p>

    <div class="buttons">
      <a
        mat-raised-button
        color="primary"
        href="/assets/Sergio-Barreras-CV.pdf"
        target="_blank"
        >Descargar CV
      </a>
      <a
        mat-stroked-button
        color="accent"
        href="https://github.com/SergioBGISC99"
        target="_blank"
        >GitHub
      </a>
      <a
        mat-stroked-button
        color="accent"
        href="https://www.linkedin.com/in/sergio-barreras/"
        target="_blank"
      >
        LinkedIn
      </a>
    </div>
  </div>
</section> -->
